<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    Name:{{student.name}}
    Roll No. :{{student.user}}
    Department:{{student.department}}
    Course: {{student.course_alloted}}
    Mobile: {{student.mobile}}
    Mail:{{student.mail}}
    <button type="submit"><a href="{% url 'update_profile' %}">Update Profile</a></button>
</body>
</html>